@model BdJobsOnline.BdJobsDatabase.JobCategory

@{
    ViewBag.Title = "bdjobs.com: Largest Job Site in Bangladesh";
}


<fieldset>
    <legend>Job Category Details</legend>

    <div class="display-label"><b>Category Name</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.JobCategoryId }) |
    @Html.ActionLink("Back to Category List", "Index")
</p>
