@model IEnumerable<BdJobsOnline.BdJobsDatabase.Role>
@{
    ViewBag.Title = "bdjobs.com: Largest Job Site in Bangladesh";
}

<h2>User Role</h2>

<p>
    @Html.ActionLink("Create New Role", "Create")
</p>
<table width="60%">
    <tr>
        <th>Role Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.RoleName, "Details", new { id = item.RoleId }, new { style = "text-decoration:none" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RoleId }, new { @class = "edit-icon" })

                @using (Html.BeginForm("Delete", "Role", new { Id = item.RoleId }, FormMethod.Post))
                {
                    <input type="submit" value="" class="delete-icon" onclick="return confirm('Are you sure you wish to delete this Role')" /> 
                }


            </td>
        </tr>
    }

</table>
